<%- include("partials/header.ejs") %>

<div id="myDIV" class="header">
  <input type="text" id="inputField" placeholder="Enter your task">
    <button id="addButton">+</button>
    
</div>
<ul id="itemList"></ul>
<%- include("partials/footer.ejs") %>

