<%- include("partials/header1.ejs") %>

<div class="container">
    <input type="text" id="inputField" placeholder="Type something...">
    <button id="addButton">+</button>
    <ul id="itemList"></ul>
  </div>

  


<%- include("partials/footer.ejs") %>

